@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;

  color: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: transparent linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%) 0%
    0% no-repeat padding-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

h1 {
  padding-bottom: 15px;
  font-weight: 500;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  background-color: #f7f7f7;
  color: #333333;
  border: 1px solid #cccccc;
  min-height: 60px;
  padding: 0 21px;
  outline: none;
}
