/* BUTTONS */
.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}
.buttonsWrapper--last {
  margin-left: auto;
}

.button {
  text-align: center;
  cursor: pointer;
  border: none;

  border-radius: 50px;
  padding: 15px 30px;
  transition: background-color 0.3s;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .button {
    width: 100%;
  }
}

.button.primary {
  border: 1px solid #324bff;
  color: #324bff;
  background-color: transparent;
}
.button.primary:hover {
  background-color: #324bff;
  color: #fff;
  transition: background-color 0.3s;
}

.button.secondary {
  color: #fff;
  background-color: #324bff;
  border: solid 1px #324bff;
  padding: 15px 50px;
}
.button.secondary:hover {
  border: solid 1px #324bff;
  background-color: #fff;
  color: #324bff;
  transition: background-color 0.3s;
}
