.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  display: none;
}
.modalBg--visible {
  display: flex;
}

.modalDescription {
  padding-bottom: 20px;
}

.modalBtnWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 15px;
  width: 100%;
  padding-top: 25px;
}

.modalBg .card {
  max-width: 700px;
  margin: 50px 15px;
}

.modalBg input {
  width: 100%;
}
