.title {
  text-align: center;
}

.description {
  text-align: center;
  padding-bottom: 35px;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}
